@font-face {
    font-family: 'NotoSansMyanmarRegular';
    src: url('../fonts/notosansmyanmar.eot');
    src: url('../fonts/notosansmyanmar.eot') format('embedded-opentype'),
         url('../fonts/notosansmyanmar.woff') format('woff'),
         url('../fonts/notosansmyanmar.ttf') format('truetype'),
         url('../fonts/notosansmyanmar.svg#NotoSansMyanmarRegular') format('svg');
}
body {
	font-family: 'NotoSansMyanmarRegular';
	color: #444;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'NotoSansMyanmarRegular';
}
a {
	color: #fb503b;
}
p {
	line-height: 26px;
}
.container {
	max-width: 960px;
}
input,.form-control {
	border: 1px solid #cccccc;
	border-radius: 0;
}
input:focus,.form-control:focus {
	box-shadow: none;
}
img {
	max-width: 100%;
}
.modal-content {
	border-radius: 0;
}
.input-group-addon {
	border-radius: 0;
	border: 0;
}
.btn {
	border-radius: 0;
}
.alert {
	border-radius: 0;
	margin-top: 5px;
}
/* Body Classes */
/* .home {
	background: #f0f0f0;
	background-size: cover;
}
.home #main-header, .home #main-header .navbar-left,
.home #main-header .navbar-right,.home #main-header .main-nav a,
.home #main-footer, .home #what-we-do .what-we-do-item {
	border-color: rgba(255,255,255,0.2);
}
.home #main-header .main-nav a, .home #main-masthead .masthead-title, 
.home #main-footer {
	color: rgba(255,255,255,0.8);
}
.home #main-header .main-nav a:hover {
	color: #fff;
} */
/* End of body class */
#main-header {
	background: transparent;
	border: 0;
	border-radius: 0;
	border-bottom: 1px solid #f0f0f0;
	padding: 15px 0;
	margin-bottom: 0;
}
#main-header .navbar-brand {
	color: #fb503b;
	font-size: 14px;
	padding: 5px;
}
#main-header .navbar-left, #main-header .navbar-right {
	border-left: 1px solid #f0f0f0;
}
#main-header .navbar-right {
	padding-left: 10px;
	height: 50px;
	padding-top: 10px;
}
#main-header .main-nav a {
	font-size: 12px;
	color: #666;
}
#main-header .main-nav a:hover {
	color: #333;
}
#main-header .user-nav > a {
	border: 2px solid #f0f0f0;
	padding: 3px 10px;
	margin: 10px 0 10px 10px;
}
#main-header .dropdown-menu {
	box-shadow: none;
}
#main-header .navbar-toggle {
	border-radius: 0;
}
.main-flash-message {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.main-flash-message .alert {
	margin-top: 0;
	border-top: 0;
}
#main-masthead .masthead-title {
	text-align: center;
	color: #3D3D3D;
	font-size: 60px;
  	font-weight: 400;
	margin: 100px 0 20px;
}
#main-masthead .masthead-flag {
	border-top: 3px solid #FFDC00;
	background: #2ECC40;
	border-bottom: 3px solid #FF4136;
	display: block;
	width: 30px;
	height: 9px;
	margin: 0 auto;
}
.main-content {
	padding-top: 30px;
	padding-bottom: 30px;
}
.blog-wrap {
	margin-bottom: 30px;
	border-bottom: 3px solid #e3e3e3;
	padding-bottom: 5px;
}
.blog-title {
	margin-top: 0;
}
.blog-title a {
	font-size: 36px;
	line-height: 55px;
	color: #666;
	font-weight: bold;
}
.blog-title a:hover {
	text-decoration: none;
}
.blog-excerpt {
	margin: 20px 0;
}
.blog-author {
	color: #999;
}
.blog-author a {
	color: #999;
}
.social-box {
	margin-top: 20px;
}
.blog-date {
	color: #e3e3e3;
	margin-bottom: 0;
}
.blog-content {
	margin-bottom: 20px;
	line-height: 28px;
}
.blog-content pre {
	border: none;
	padding: 0;
	border-radius: 0;
}
.parent-page-title {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 25px;
	color: #777;
}
.page-title {
	font-size: 28px;
}
.blog-meta {
	font-size: 14px;
	margin-top: 20px;
}
.main-sidebar {
	border-left: 1px solid #f0f0f0;
}
.documentation-content h1, .documentation-content h2, .documentation-content h3,.documentation-content h4 {
	margin-bottom: 20px;
}
.documentation-content h4 {
	font-size: 16px;
}
.documentation-content p {
	line-height: 34px;
	margin-bottom: 26px;
}
.documentation-content ul {
	line-height: 24px;
}
.main-sidebar ul {
	padding: 0;
	list-style: none;
}
.sidebar-title {
	font-size: 14px;
	text-transform: uppercase;
}
.sidebar-title:before {
	left: 15px !important;
	top: 30px !important;
}
.main-sidebar ul li {
	line-height: 28px;
	position: relative;
}
.main-sidebar .sub-page li {
	margin: 2px 0;
}
.main-sidebar .sub-page li a {
	border-bottom: 1px solid #f0f0f0;
	display: block;
	padding: 0 5px;
}
.main-sidebar .sub-page li a.active {
	border-bottom: 3px solid #f0f0f0;
	color: #999;
	cursor: default;
	text-decoration: none;
}
.documentation-sidebar ul li:before, .sidebar-title:before {
	position: absolute;
	top: 25px;
	left: 0;
	height: 3px;
	width: 30px;
	background: #50a5fb;
	content: ' ';
}
.documentation-sidebar ul li ul li:before {
	background: transparent;
}
.documentation-sidebar ul li ul {
	margin: 10px 0;
}
.login-shortcut {
	margin-top: 10px;
}
.profile-content .main-sidebar {
	border-left: 0;
	border-right: 1px solid #f0f0f0;
}
.profile-gravatar {
	border: 1px solid #f0f0f0;
	padding: 5px;
	margin: 10px 0;
}
.freelance-yes {
	color: #2ECC40;
	font-size: 12px;
}
.profile-card {
	border: 1px solid #f0f0f0;
	padding-top: 10px;
	padding-bottom: 10px;
	height: 109px;
	width: 48%;
	float: left;
	margin: 1%;
	padding: 1%;
	box-sizing: border-box;
	moz-box-sizing: border-box;
}
.profile-card:hover {
	border: 1px solid #A4A4A4;
}
.profile-card a {
	color: #333;
}
.profile-card .profile-avatar {
	width: 30%;
	float: left;
}
.profile-card .profile-info {
	padding-left: 10px;
	width: 70%;
	float: left;
}
#what-we-do {
	margin-top: 80px;
	text-align: center;
}
#what-we-do .what-we-do-item {
	border-right: 1px solid #f0f0f0;
	height: 200px;
}
#what-we-do .what-we-do-item:last-child {
	border-right: 0;
}
#what-we-do .app-heading a {
	color: #50a5fb;
}
#what-we-do p {
	color: #777;
	margin: 25px 0;
}
.app-heading {
	position: relative;
	font-size: 14px;
}
.app-heading:after {
	position: absolute;
	bottom: -15px;
	left: 50%;
	margin-left: -15px;
	height: 3px;
	width: 30px;
	background: #50a5fb;
	content: ' ';
}
#main-footer {
	color: #999;
	text-align: center;
	font-size: 12px;
	border-top: 1px solid #f0f0f0;
	clear: both;
	padding-top: 30px;
	padding-bottom: 30px;
}
/* Pagination */
.pagination li:first-child a,.pagination li:last-child a, .pagination li:first-child span,.pagination li:last-child span {
	border-radius: 0;
}
/* Markdown */
.md-editor {
	border: 1px solid #cccccc;
	background: #f1f1f1;
	padding: 10px 0;
}
.md-header {
	padding: 0 10px 10px;
}
.md-preview {
	padding: 10px;
}
.widearea-icons {
	margin-top: -37px;
	margin-left: -10px;
}
/* Bottom Bar */
.bottom-bar {
	padding: 10px;
	background: #445666;
	border: none;
}
.bottom-bar .btn-primary {
	border: 1px solid #428bca;
}
.bottom-bar select {
	box-shadow: none;
	border: none;
}
/* Toolbar */
.toolbar {
	padding: 10px 0;
	margin: 5px 0;
}
.feature-img-modal-btn {
	border: 1px dashed #ccc;
	display: block;
	height: 132px;
	line-height: 132px;
	text-align: center;
	color: #ccc;
}
.feature-img-modal-btn:hover {
	border: 1px solid #999;
	text-decoration: none;
	color: #999;
}
.admin-bar {
	background: #42485C;
	border-bottom: none;
	min-height: 40px;
}
.admin-bar li a {
	padding: 10px;
	color: #B7BAC4 !important;
}
.admin-bar li a:hover,.admin-bar li:hover {
	background: #4D556F;
}
.admin-bar .navbar-nav>.open>a, .admin-bar .navbar-nav>.open>a:focus {
	background: #4D556F;
}
.admin-bar li ul {
	background: #42485C;
	border-radius: 0;
}
select[name="category[]"] {
	height: 132px;
}